---
import { getCollection, getEntryBySlug, CollectionEntry } from "astro:content";
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";

// const post1 = await getEntryBySlug("blog", "post-1");
// utils imports
const { formatBlogPosts } = await import("../js/utils.js");

const blogPosts = await getCollection("blog", ({ data }) => {
  return !data.draft && data.date < new Date();
});
const formattedBlogPosts: CollectionEntry<"blog">[] = formatBlogPosts(
  blogPosts,
  {
    limit: 99999,
  }
);
---

<MainLayout title="Home">
  {
    formattedBlogPosts.map((post) => (
      <PostCard data={post.data} slug={post.slug} />

      // <PostCard data={post.data} url={post.slug} tagType="h3" />
      // <article>
      //   <h2>{post.data.title}</h2>
      //   <p>{post.data.description}</p>
      //   <a href={`/blog/${post.slug}/`}>
      //     <img src={post.data.image?.src} />
      //   </a>
      //   <div>category: {post.data.category}</div>
      // </article>
    ))
  }
</MainLayout>
