---
// library imports
import { Image } from "@astrojs/image/components";

// utils imports
import { formatBlogPosts, formatDate, slugify } from "../js/utils";

// component imports
import Link from "./Link.astro";

const { data, slug, tagType = "h3" } = Astro.props;
const { title, description, date, author, category, image } = data;
const Tag = tagType;
// console.log(title, description, date, author, category, image);
// console.log(slug);
---

<!-- reminder: url is slug -->
<article class="card">
  <small>
    <a href={`/category/${slugify(category)}/`} class="badge">
      {category}
    </a>
  </small>
  <a href={`/blog/${slug}/`}>
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      fit="cover"
      quality={80}
      aspectRatio="4:1"
    />
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={`/blog/${slug}/`}>{title}</a>
      </Tag>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link href={`/blog/${slug}/`} style={"secondary"} text="Read Post" />
  </div>
</article>
