---
// component import
import HeadLayout from "./HeadLayout.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { getPosts } from "../pages/slugs.json";

// styles import
import "../styles/tailwind.css";
import "../styles/global.css";
import ShowPosts from "../components/ShowPosts";

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  data,
  robots,
} = Astro.props;
---

<html lang="en">
  <HeadLayout {title} {description} {image} {data} {robots} />
  <body>
    <Nav />
    <ShowPosts posts={await getPosts()} client:load />
    <main>
      <slot>Default Text</slot>
    </main>

    <Footer />
  </body>
</html>
